.bg-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.m-content {
  margin: 0 auto;
  width: 1170px;
  max-width: 1700px;
  overflow: hidden;
}

.flex-cdom {
  display: flex;
}
